.gradient-hr {
  background: linear-gradient(180deg, #ccebf2 0%, rgba(204, 235, 242, 0) 100%);
}
.line-assessment {
  background: linear-gradient(
    90deg,
    rgba(51, 177, 203, 0.5) 0%,
    rgba(51, 177, 203, 0) 93.75%
  );
  width: 193px;
  height: 1px;
}
.assessment-detail-line {
  background: linear-gradient(
    89.95deg,
    rgba(51, 177, 203, 0) 0.04%,
    rgba(0, 0, 0, 0.5) 51.57%,
    rgba(51, 177, 203, 0) 99.97%
  );
  height: 1px;
}

/* Tooltip container */
.tooltip-py {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-py .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #ffffff;
  color: #111315;
  text-align: center;
  border-radius: 6px;
  padding: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 30px;
  font-size: 12px;
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.05),
    0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(32px);
  border-radius: 8px;
  white-space: nowrap;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-py:hover .tooltiptext {
  visibility: visible;
}

.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star {
  position: relative;
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}

.star:before {
  content: "\2605";
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star {
  transition: color 0.8s ease;
  color: black;
}
