@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-daterangepicker/daterangepicker.css";
@import "@pathofdev/react-tag-input/build/index.css";
@import "react-toastify/dist/ReactToastify.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "src/components/loading/Loading.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}
html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
body {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  line-height: 1.7;
  /* font-family: 'Roboto', sans-serif !important; */
  color: #111315;
}
button {
  outline: none;
}
